@font-face {
    font-family: 'rotunda';
    src: url('./assets/fonts/rotunda.ttf') format('truetype');
    // url('../assets/fonts/rotunda.woff2') format('woff2'),
    // url('../assets/fonts/rotunda.woff') format('woff');
}

@font-face {
    font-family: 'inter';
    src: url('./assets/fonts/inter.ttf') format('truetype');
    // url('../assets/fonts/inter.woff2') format('woff2'),
    // url('../assets/fonts/inter.woff') format('woff');
}