#creator-chapter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    position: relative;
    h1{
        font-size: 1.6rem;
    }
    #position-chapter{
        margin-top: 20px;
    }
    #return{
        position: absolute;
        left: 5px;
        top: 5px;
    }
    #name-chapter{
        width: 100%;
        max-width: 100%;
        margin-top: 65px;
    }

    #texte-chapter{
        margin: 15px 0 ;
    }

    #global-ensemble-texteffects{
        margin: 25px 0;
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        ul{
            width: 100%;
            max-width: 100%;
            li{
                width: 100%;
                max-width: 100%;
                margin: 10px 0;
                padding: 10px;
                border: 3px black solid;
                background-color: rgba(0, 0, 0, 0.10);
                border-radius: 5px;
                display: flex;
                justify-content:space-between;
                align-items: center;
                flex-wrap: wrap;
                .ensemble-param-texteffect{
                    display: flex;
                    justify-content:flex-start;
                    align-items: center;
                    width: auto;
                    flex-wrap: nowrap;
                    overflow: hidden;
                    margin: 5px 0;
                    select{
                        width: auto;
                        max-width: 60%;
                        margin: 0 5px;
                    }
                }
            }
        }
    }

    .ensemble-image{
        margin: 25px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        img{
            width: 300px;
            height: 300px;
            margin: 5px;
            object-fit: contain;
        }
    }
    .ensemble-image-mobile{
        margin: 25px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        p{
            color: $colorAlert;
            text-align: center;
        }
    }
    #ensemble-butons{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-bottom: 50px;
        li{
            width: 100%;
            margin: 5px;
            border: 3px black solid;
            background-color: rgba(0, 0, 0, 0.10);
            border-radius: 5px;
            display: flex;
            justify-content:space-between;
            align-items: center;
            flex-wrap: wrap;
            .button-name{
                margin-top: 5px;
                margin-left: 5px;
                max-width: 45%;
                min-width: 45%;
                width: 45%;
            }
            .button-type, .button-redirect{
                min-width: 60px;
            }
            .button-type {
                height: 30px;
                margin: 5px;
            }
            .button-lostlife{
                padding: 2px;
            }

            .ensemble-button-action, .ensemble-next-chapter{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                flex-wrap: wrap;
                border: 2px black solid;
                border-radius: 5px;
                margin: 5px;
                padding: 5px;
                max-width: 45%;
                min-width: 45%;
                width: 45%;
                p{
                    text-align: center;
                }
                .button-redirect{
                    margin-top: 5px;
                    width: 100%;
                }
            }
            .ensemble-next-chapter{
                max-width: calc(100% - 10px);
                min-width: calc(100% - 10px);
                width: calc(100% - 10px);
            }
        }
    }
}