#creator-story{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    position: relative;
    #return{
        position: absolute;
        left: 5px;
        top: 5px;
    }
    #name-story{
        width: 100%;
        max-width: 100%;
        margin-top: 65px;
    }
    .actions{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 10px 0 20px 0;
        .red{
            border: 3px $colorAlert solid;
            color: $colorAlert;
        }
        .green{
            border: 3px $colorValid solid;
            color: $colorValid;
        }
    }
    #rpg-mode{
        width: 100%;
        margin-bottom: 25px;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .ensemble-stat{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            border: 2px black solid;
            border-radius: 5px;
            margin-bottom: 15px;
            padding: 5px;
            width: fit-content;
            p{
                text-align: center;
                margin-right: 5px;
            }
            input{
                padding: 2px;
                width: 50px;
            }
        }
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 25px;
            li{
                width: 100%;
                margin: 5px;
                border: 3px black solid;
                background-color: rgba(0, 0, 0, 0.10);
                border-radius: 5px;
                display: flex;
                justify-content:space-between;
                align-items: center;
                flex-wrap: wrap;
                .name-object, .description-object{
                    margin: 5px;
                    width: calc(100% - 10px);
                    min-width: calc(100% - 10px);
                    max-width: calc(100% - 10px);
                }
                .description-object{
                    width: calc(100% - 10px);
                    min-width: calc(100% - 10px);
                    max-width: calc(100% - 10px);
                }
                .button-name{
                    margin-left: 5px;
                    max-width: 45%;
                    min-width: 45%;
                    width: 45%;
                }
                .button-type, .button-redirect{
                    min-width: 60px;
                }
                .button-type {
                    height: 30px;
                }

                .ensemble-next-chapter{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    flex-wrap: wrap;
                    border: 2px black solid;
                    border-radius: 5px;
                    margin: 5px;
                    padding: 5px;
                    max-width: 45%;
                    min-width: 45%;
                    width: 45%;
                    p{
                        text-align: center;
                    }
                    .button-redirect{
                        margin-top: 5px;
                        width: 100%;
                    }
                }
            }
        }
    }
    .table-chapters{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        max-width: 100%;
        .chapterPrincipal{
            position: relative;
            z-index: 1 !important; 
            #chaptersGlobal{
                position: relative;
                width: 100%;
                height: 100%;
                min-width: 100%;
                max-width: 100%;
                min-height: 100%;
                max-height: 100%;
                z-index: 1 !important; 
            }
        }
        table{
            z-index: 1 !important; 
            border-collapse: 10px;
            tr{
                td{
                    vertical-align: top;
                    text-align: center;
                }
            }
        }
        .svg-paths {
            position: absolute;
            width: 100%;
            height: 100%;
            min-width: 100%;
            max-width: 100%;
            min-height: 100%;
            max-height: 100%;
            top: 0;
            left: 0;
            z-index: 0; 
            pointer-events: none;
        }
        #chapterPathsHover{
            z-index: 5;
        }
    }
}

#page-2 #ensemble-chapters, #page-mobile #ensemble-chapters{
    li{
        width: calc( calc( calc(100% - 10px) /5 ) - 10px );
    }
}