#option{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    position: relative;
    h2{
        margin: 25px 5px;
    }
    #return{
        position: absolute;
        left: 5px;
        top: 5px;
    }
    div{
        margin: 10px;
        padding: 5px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 2px rgba(0, 0, 0, 0.25) solid;
        p{
            height: 100%;
            display: flex;
            justify-content: flex-end;
            
        }
        .ensemble-input{
            flex-direction: row;
            border:none;
            max-width: max-content;
            width: 100%;
            min-width: 300px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            p{
                width: 20px;
                font-weight: bolder;
                margin-right: 20px;
            }
        }
        .ensemble-wifi{
            flex-direction: row;
            border:none;
            width: 100%;
            display: flex;
            margin: 0;
            padding: 0;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            p{
                padding: 0;
            }
        }
    }
}