#story{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    position: relative;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    #screen-life{
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            text-align: left;
            font-size: 1.3rem;
            text-shadow: 1px -1px 0 white,  -1px 1px 0 white,  1px 1px 0 white,  -1px -1px 0 white;
        }
    }
    #screen-image{
        padding: 10px;
        position: absolute;
        top: 0;
        left: 0;
        width: 75%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        h1{
            color: $colorButton;
        }
        img{
            width: 100%;
            height: 100%;
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;
        }
    }
    .ensemble-info{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        height:calc(80% - 20px);
        width: calc(25% - 20px);
        margin: 10px;
        border-radius: 5px;
        border: 3px $colorBackground solid;
        background-color: $colorBackground;
        overflow: hidden;
        #screen-texte{
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 20px;
            overflow: auto;
            width: 100%;
            p{
                width: 100%;
                text-align: left;
                color: $colorButton;
            }
            .texteffect{
                font-style: italic;
                margin-top: 10px;
            }
        }
        #screen-inventory{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            max-height: 40%;
            overflow: auto;
            width: 100%;
            p{
                width: 100%;
                color: $colorHover;
                text-align: center;
                font-size: 1.2rem;
                font-weight: bolder;
                margin-top: 10px;
            }
            ul{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                overflow-x: hidden;
                overflow-y: auto;
                width: 100%;
                padding: 5px 0;
                li{
                    margin: 5px;
                    border-top: 2px black solid;
                    width: 100%;
                }
            }
        }
    }
    #screen-action{
        padding: 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        min-height: 20%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        .end-story{
            background-color: $colorAlert;
            color: white;
        }
    }
}

#story.mode1{
    #screen-texte{
        background-color: $colorBackground;
    }
}

#story.mode2, #story.mode3{
    min-height: 100vh;
    height: auto;
    justify-content: flex-start;

    #screen-image{
        width: 100%;
        height: 100%;
    }
    #screen-texte{
        position: relative;
        height:calc(80% - 20px);
        width: calc(100% - 20px);
        background-color: rgba(0, 0, 0, 0);
    }
    #screen-action{
        position: relative;

    }
}